# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.swp
*.tmp
*.temp
*.bak
*.backup
*.old
*.orig

# Archives
*.zip
*.tar.gz
*.rar
*.7z
*.tgz
*.gz

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git files
*.lock
